In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers=pd.read_csv("./data/northwind-mongo-master/suppliers.csv",usecols=["SupplierID","CompanyName","City"])

In [3]:
products=pd.read_csv("./data/northwind-mongo-master/products_del_2.csv",usecols=["ProductID","ProductName","SupplierID"])

In [4]:
supprod=suppliers.merge(products, on="SupplierID",indicator=True)
supprod

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread,both
3,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears,both
4,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce,both
...,...,...,...,...,...,...
63,25,Ma Maison,Montréal,55,Pâté chinois,both
64,26,Pasta Buttini s.r.l.,Salerno,56,Gnocchi di nonna Alice,both
65,26,Pasta Buttini s.r.l.,Salerno,57,Ravioli Angelo,both
66,28,Gai pâturage,Annecy,60,Camembert Pierrot,both
67,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,both

In [6]:
print(len(suppliers))
print(len(products))
print(len(supprod))

29
68
68

In [9]:
supProdLeft = suppliers.merge(products, how="left", on="SupplierID",indicator=True)

In [10]:
supProdLeft.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

In [12]:
print(len(suppliers))
print(len(products))
print(len(supProdLeft))

29
68
70

In [13]:
filterek=supProdLeft["_merge"]=="left_only"
supProdLeft[filterek]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only